@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 .about-section{
 margin-top: 5%;
 margin-left: 5%;
 padding: 0;
 }
 
 
 .about-container{
   width: 95%;
   display: flex;
  
   justify-content: center;
   align-items: center;
 }
 .about-image{
   margin-left: 10px;
   width: 250px;
   height: 250px;
 }
 .image-pic{
   height: 100%;
   width: 100%;
 }
 .card-body-container{
  background-image: url("../../assets/images/blur_images.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 20px;
  height: 300px !important;
  text-wrap: wrap;
  border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

 }
 
 .card-about-text {
  
  height: 320px;
 }
 /* responsive */
 @media (max-width:600px) {
   .about-section{
   margin: 0;
    padding-right: 15px;
   }
  
  .body-container{
    margin-left: 10px;
    padding: 0;
  }
  .row{
    width: 600px;
  }
  .card-about-text {
    width: 480px;
    height: 400px;
    margin-right: 20px !important;
    text-wrap: wrap;

  }
  .card-body-container{
    
   width: 580px;
   height: 400px;
   text-wrap: wrap;
   margin-right: 20px !important;
   }
 }