 .design{
    color: black;
    background-color: red;
 }
 .tech-section{
  margin-left: 5%;
 }
 .box{
   border: 1px solid rgb(203, 195, 195);
   border-radius: 10px;
   margin: 5px;
   margin-left: 24px;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 2.3rem;
   font-weight: 800;
   padding: 20px; 
 }
 .box:hover{
   background-color: #de6520;
   background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
   ;
   transition: 2s ease-in;
 }
.Tech-title{
   text-align: center;
   color:  #c67700;
   font-size: 2.4rem;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 700;
}
@media (max-width:600px) {
  .tech-section{
  padding-right: 0;
  margin-right: 0;
  }
  .row{
   margin-right: 0;
  }
}

